/*************************************************
    GENERAL STYLES
 *************************************************/
:root{
    --white: #ffffff;
    --antiquewhite: #e5dac8;
    --red:  #b31b1a;
    --gold: #cea201;
    --gray: #808080;
    --light-gray: #a9a9a9;
    --dashed-border: #404040;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.debug{
    border: 1px solid aqua;
    /* height: 50px; */
}
body{
    font-family: 'Staatliches', cursive;
    background-color: #b31b1a;
    font-size: 12px;
    letter-spacing: 0.1em;
    height: 100vh;
}
.fixed_height{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
/*************************************************
   FORM
 *************************************************/
h1{
    color: var(--gold);
    padding-top: 20px;
    padding-bottom: 10px;
}
.wrapper{
    width: 480px;
    max-width: 90%;
    margin: 0 auto;
}
.wrapper label input{
    font-size: 18px;
    padding: 0.2em 0;
    border: 2px solid var(--gold);
    border-radius: 30px;
    outline: 2px dotted var(--white);
    text-align: center;
}
.wrapper input[type="button"]{
    font-size: 20px;
    padding: 0 15px;
    color: var(--red);
    background-color: var(--white);
    border: 3px solid var(--gold);
    border-radius: 30px;
    outline: 2px dotted var(--white);
    margin-bottom: 15px;
}
.wrapper input[type="button"]:hover{
    transform: scale(1.1);
}
/*************************************************
    TICKET
 *************************************************/
#ticket{
    width: 600px;
    height: 250px;
    margin: 10px auto;
    display: flex;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
                rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.image{
    height: 100%;
    width: 180px;
    background-image: url(../img/roland-losslein-DmDYX_ltI48-unsplash.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.85;
    position: relative;
}
.admit_one{
    position: absolute;
    color: var(--light-gray);
    height: 250px;
    padding: 0 10px;
    letter-spacing: 0.15em;
    text-align: center;
    justify-content: space-around;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
}
.admit_one span:nth-child(2){
    color: var(--white);
    font-weight: 700;
}
.left .ticket-number{
    height: 100%;
    width: 180px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 5px;
    color: var(--antiquewhite);
}
.date{
    border-top: 1px solid var(--gray);
    padding: 5px 0;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.date span{
    width: 80px;
}
.date span:first-child{
    text-align: left;
}
.date span:last-child{
    text-align: right;
}
.date .october-06{
    color: var(--red); 
}
h2{
    font-weight: 700;
    letter-spacing: 0.1em;
    color: var(--gold);
    padding-top: 10px;
}
.time{
    color: var(--gold);
}
.time span{
    font-weight: 400;
    color: var(--gray);
    padding: 0 3px;
}
.left .time{
    font-size: 14px;
    padding-top: 10px;
}
.location{
    width: 100%;
    padding-top: 8px;
    border-top: 1px solid var(--gray);
}
.right{
    border-left: 1px dashed var(--dashed-border);
}
.right_info_container{
   padding-left: 15px;
}
.right .destination h2{
    margin: 20px 0;
    font-size: 20px;
}
.barcode{
    width: 100px;
    padding-bottom: 5px;
}
.right .time{
    line-height: 1.5em;
    font-size: 10px;
}
