:root{
    --white: #ffffff;
    --antiquewhite: #e5dac8;
    --red:  #b31b1a;
    --gold: #cea201;
    --gray: #808080;
    --light-gray: #a9a9a9;
    --dashed-border: #404040;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.debug{
    border: 1px solid aqua;
    height: 50px;
}

.wrapper{
    width: 480px;
    max-width: 90%;
    margin: 50px auto;
}
.wrapper label{
    display: block;
    margin: 0.5em 0;
}
.wrapper label input{
    font-size: 19px;
    padding: 0.3em;
}
/* .wrapper input[type="button"]{
    font-size: 20px;
    color: #b31b1a;
} */